<!DOCTYPE html>
{% extends '/public/characters/characters.html' %} {% block modal %}
<div
    class="modal"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
                <a
                    href="{{url_for('character.characters')}}"
                    class="btn btn-secondary"
                    >Close</a
                >
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script %}
<script>
    $(document).ready(() => {
        console.log('Character Window is loaded');
        $('#exampleModal').modal('show');
    });
</script>
{% endblock%}
