<!DOCTYPE html>
<div
	class="modal fade"
	id="characterPortraitModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="characterModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="characterPortraitModalLabel">
					- Select A Character Portrait -
				</h3>
			</div>
			<div class="modal-body container">
				<div class="row">
					{% for portrait in portraits %} {% with portrait=portrait %}
					{% include
					"public/characters/partials/character_portrait.html" %} {%
					endwith %} {% endfor %}
				</div>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
