<!DOCTYPE html>
<div
	class="modal fade"
	id="characterModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="characterModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="exampleModalLabel">
					- Character Name -
				</h3>
			</div>
			<div class="modal-body">
				<div class="modal-image-block">
					<img
						src="https://via.placeholder.com/150x200"
						class="character-portrait"
						alt="Character Portrait" />
				</div>
				<div class="modal-details-block float-start">
					<p class="modal-details__text" id="details-metatype">
						Metatype
					</p>
					<p class="modal-details__text" id="details-gender">
						Gender
					</p>
					<p class="modal-details__text" id="details-bio">
						Description
					</p>
					<p class="modal-details__text" id="details-status">
						Status
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
