<!DOCTYPE html>
{% extends "public/partials/base.html" %} {% block main %}

    <h1>Rules on Assensing</h1>

        <table id="assensingTable" class="table table-dark">
            <tr>
                <th>Successes</th>
                <th>Information Gained</th>
            </tr>
            <tr>
                <th>0</th>
                <td>None</td>
            </tr>
            <tr>
                <th>1-2</th>
                <td>
                    • The general state of the subject's health (healthy, injured,
                    ill, etc.) along with the presence or absence of cyberware
                    implants.
                    <br/>
                    • The subject's general emotional state or impression (happy,
                    sad, angry).
                    <br/>
                    • The class of a magical subject (fire elemental, manipulation
                    spell, power focus, and so on).
                    <br/>
                    • Whether the subject is mundane or Awakened
                    <br/>
                    • If you have seen the subject's aura before, you will recognize
                    it, regardless of physical disguises or alterations.
                </td>
            </tr>
            <tr>
                <th>3-4</th>
                <td>
                    All of the above plus:
                    <br/>
                    • Whether the subject's Essence and Magic Attribute are higher,
                    lower or equal to your own
                    <br/>
                    • The general location of any implants.
                    <br/>
                    • A general diagnosis for any maladies (diseases or toxins) the
                    subject suffers from.
                    <br/>
                    • The subject's exact emotional state or impression.
                    <br/>
                    • Whether the subject's Force is higher, lower or equal to your
                    Magic Attribute.
                    <br/>
                    • Any astral signatures present on the subject.
                </td>
            </tr>
            <tr>
                <th>5+</th>
                <td>
                    All of the above plus:
                    <br/>
                    • The exact Essence, Magic Attribute and Force of the subject.
                    <br/>
                    • The exact location of any implants.
                    <br/>
                    • An accurate diagnosis of any disease or toxin the subject
                    suffers from.
                    <br/>
                    • The general cause of any emotional impression (a murder, a
                    riot, a religious ceremony, and so on).
                    <br/>
                    • The general cause of any astral signature (combat spell,
                    hearth spirit, and so on).
                </td>
            </tr>
        </table>

{% endblock %}
