<!DOCTYPE html>
{% extends "public/partials/base.html" %} {% block main %}

<form action="{{url_for('auth.finish_signup')}}" id="setup" name="setup" method="post">
    {{form.csrf_token}}
    <div class="wtform_field">
        {{form.name.label}}
        {{form.name}}
    </div>
    <div class="wtform_field">
        {{form.password.label}}
        {{form.password}}
    </div>
    <div class="wtform_field">
        {{form.confirmation.label}}
        {{form.confirmation}}
    </div>
    <div class="wtform_field">
        {{form.submit}}
    </div>
</form>

{% endblock %}
