<!DOCTYPE html>
{% extends "public/partials/base.html" %}
{% block styles %}
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/cyberdeck.css') }}"/>
{% endblock %}
{% block main %}

    <h1>Select the Program:</h1>
    <div class="utility-list grid">
        {% for key, value in util_data.items() %}
            {% with name=key, utility=value %} {% include
	"public/calculators/partials/cyberdeck_utility_card.html" %} {% endwith %}
        {% endfor %}
    </div>

{% endblock %}