<!DOCTYPE html>
{% extends "partials/base.html" %} {% block main %}

<h1>Meet the cast and crew!</h1>

<div class="main-character-list">
    <div class="character-list-item__player-block">
        <p class="player-block__title">Rocin</p>
        <p class="player-block__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="player-block__character-card-list">
            <div class="character-card">
                <button class="character-card__button">
                    <img src="../static/img/portraits/dwarf_male.png" alt="" />
                    <p class="character-card__title">Wheels</p>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/promise-polyfill.js"></script>
<script src="../static/js/fetch-polyfill.js"></script>
<script src="../static/js/characters.js" type="module"></script>
{% endblock %}
