<!DOCTYPE html>
{% extends "public/partials/base.html" %}

{% block main %}
    <h2>Matrix Security Sheaf Generator</h2>

    <p>
        A security sheaf describes the security measures in place on a host or
        grid as well as how the host/grid reacts to intruders. Quite simply, a
        sheaf consists of a list of trigger steps.
    </p>
    <p>
        These steps represent security tally thresholds. As a decker’s security
        tally reaches each trigger step, the system activates one or more IC
        programs. Trigger steps also activate the various alert levels in a
        system. The alert status of the system, in turn, affects the types of IC
        programs the system activates.
    </p>
    <p>
        {{ sheaf|safe }} <!-- Inserted sheaf content -->
    </p>
{% endblock %}