<!DOCTYPE html>
{% extends "public/partials/base.html" %} {% block main %}

<h1>Meet the cast and crew!</h1>

{% if current_user.is_admin %}
<a href="{{url_for('character.get_edit_character')}}" class="btn btn-secondary"
    >Submit New Character</a
>
{% endif %}

<div class="player-block-list container">
    {% for player in players %} {% with player=player %} {% include
    "public/characters/partials/player_block_list.html" %} {% endwith %} {%
    endfor %}
</div>
<script src="{{url_for('static', filename='/js/characters.js')}}"></script>
{% include "public/characters/partials/character_modal.html" %} {% endblock %}
