<!DOCTYPE html>
{% extends "public/partials/base.html" %} {% block main %}

<h1>Meet the cast and crew!</h1>

{% if current_user.is_admin %}
<a href="{{url_for('character.get_edit_character')}}">Submit New Character</a>
{% endif %}

<div class="main-character-list">
    {% for player in players %} {% with player=player %} {% include
    "public/characters/partials/character_card_list.html" %} {% endwith %} {%
    endfor %}
</div>

{% block modal%} {% endblock %} {% block script %} {% endblock %} {% endblock %}
