<!DOCTYPE html>
{% extends "public/partials/base.html" %} {% block main %}

<h1>Meet the cast and crew!</h1>

{% if current_user.is_admin %}
<a href="{{url_for('character.get_edit_character')}}">Submit New Character</a>
{% endif %}

<div class="main-character-list">
    <div class="character-list-item__player-block">
        <p class="player-block__title">Rocin</p>
        <p class="player-block__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="player-block__character-card-list">
            {% for character in characters %}
                {% with character=character %}
                    {% include "public/characters/partials/character_card.html" %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
