<!DOCTYPE html>
<div
    class="modal fade"
    id="genericModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="characterModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">
                    - Modal Title -
                </h3>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">
                    Close
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='/js/modals.js')}}"></script>
